:root {
    --color1: #780116;
    --color2: #ffa630;
    --color3: #e8eddf;
    --color4: #0d0628;
    --color5: #0d1821;
}


body {
    background-color: var(--color3);
    font-family: "Funnel Display", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

header {
    pointer-events: none;
}

/* Style the main heading */
h1 {
    color: var(--color5);
    text-align: center;
}

.intro-para {
    /* font-family: Arial, sans-serif; */
    font-size: 20px;
    color: var(--color5);
    text-align: center;
    margin: 0 25% 1% 25%;
    pointer-events: none;
    border: none
}

.intro-para-link {
    pointer-events: auto;
}

a {
    text-decoration: none;
}

#reveal-all-button {

    width: 25%;
    align-items: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);


    text-align: center;
    color: var(--color3);
    background-color: var(--color1);

    font-family: "Funnel Display", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;

    border-radius: 5px;
    border: 2px solid var(--color4);
    
    
}

.album-wrapper {
    position: relative;
    /* Relative positioning to contain the button and album */
    width: 100%;
    /* Full-width container */
    /*max-width: 600px;  Optional: Limit the width */
    margin: 20px auto;
    /* Center the container on the page */
    /* align-items: stretch; */
    padding-bottom: 0px;
}

.honorable-header {
    display: flex;
    /* Side-by-side layout for album art and details */
    align-items: center;
    /* Align items at the top */
    flex-direction: column;
    width: 20%;
}

.honorable-pic {
    width: 200px;
    height: auto;
    padding: 0;
    border: 2px solid black;
    border-radius: 1%;
}

.honorable-details {
    flex: 1;
    /* Make the text container grow to fill the remaining space */
    display: flex;
    flex-direction: column;
    align-content: center;
    pointer-events: none;
}

.h-name {
    font-size: 25px;
    color: var(--color2);
    text-align: center;
    font-weight: bold;
    margin: 0;
    margin-bottom: -10px;
    font-style: italic;
}

.h-artist {
    font-size: 15px;
    color: var(--color2);
    text-align: center;
    padding: none;
    margin-bottom: -10px;
}

.h-review {
    font-size: 16px;
    color: var(--color3);
    text-align: center;
}

.overlay-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    padding: 10px 20px;
    font-size: 50px;
    background-color: var(--color1);
    color: var(--color3);

    border: 2px solid var(--color5);    

    font-family: "Funnel Display", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;


    border-radius: 10px;
    cursor: pointer;
    transition: opacity 0.5s ease;
    /* Smooth fade-out effect */
    opacity: 1;
    /* Default visible state */

    gap: 20px;
    padding: 10px;

    height: 365px;
    width: 100%;

}

.h-overlay-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    padding: 10px 20px;
    font-size: 50px;
    background-color: var(--color1);
    color: var(--color3);

    border: 2px solid var(--color5);  

    font-family: "Funnel Display", serif;
    font-optical-sizing: auto;
    font-weight: bold;  
    font-style: normal;

    border-radius: 10px;
    cursor: pointer;
    transition: opacity 0.5s ease;
    /* Smooth fade-out effect */
    opacity: 1;
    /* Default visible state */


    height: 460px;
    width: 100%;

}

.overlay-button.hidden {
    opacity: 0;
    pointer-events: none;
}

.h-overlay-button.hidden {
    opacity: 0;
    pointer-events: none;
}

.album {
    opacity: 0;
    /* Start fully transparent */
    pointer-events: none;
    /* Disable interaction initially */
    transition: opacity 0.5s ease;
    /* Smooth fade-in effect */
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    border: 2px solid var(--color5);
    border-radius: 10px;
    background-color: var(--color4);
}

.hms {
    opacity: 0;
    /* Start fully transparent */
    pointer-events: none;
    /* Disable interaction initially */
    transition: opacity 0.5s ease;
    /* Smooth fade-in effect */
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 10px;
    border: 1px solid var(--color5);
    border-radius: 10px;
    background-color: var(--color4);
}

.hms.visible {
    opacity: 1;
    pointer-events: auto;
}

.album.visible {
    opacity: 1;
    pointer-events: auto;
}

.hidden {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
}

.visible {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.5s ease;
}

.album-header {
    display: flex;
    /* Side-by-side layout for album art and details */
    align-items: flex-start;
    /* Align items at the top */
    gap: 20px;
    /* Space between album art and details */
}

.album-art {
    width: 250px;
    height: auto;
    /* padding: 10px; */
    pointer-events: none;
    border: 2px solid black;
    border-radius: 1%;
}

.album-details {
    flex: 1;
    /* Make the text container grow to fill the remaining space */
    display: flex;
    flex-direction: column;
    pointer-events: none;
}

.name {
    font-size: 50px;
    color: var(--color2);
    text-align: center;
    font-weight: bold;
    margin: 0;
    font-style: italic;
}

.artist {
    font-size: 25px;
    color: var(--color2);
    text-align: center;
}

.review {
    font-size: 15px;
    color: var(--color3);
    text-align: center;
}

.number {
    position: absolute;
    /* Position the number relative to the container */
    top: 5px;
    /* Distance from the top of the container */
    right: 5px;
    /* Distance from the left of the container */
    font-size: 50px;
    /* Adjust the font size */
    font-weight: bold;
    /* Make the number bold */
    color: var(--color2);
    /* Optional: Color of the number */
    padding: 2px 5px;
    /* Add some padding around the number */
    border-radius: 3px;
    /* Optional: Rounded corners for the background */

    font-family: "Funnel Display", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;


    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */

}

.number-hidden {
    position: center;
    /* Position the number relative to the container */
    /* top: 5px; */
    /* Distance from the top of the container */
    /* right: 5px; */
    /* Distance from the left of the container */
    font-size: 50px;
    /* Adjust the font size */
    font-weight: bold;
    /* Make the number bold */
    color: var(--color3);
    /* Optional: Color of the number */
    padding: 2px 5px;
    /* Add some padding around the number */
    border-radius: 3px;
    /* Optional: Rounded corners for the background */
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */


}

.links-pic {
    border: black;
    outline: 20px;
}

.h-links {
    /* position: relative;
    top: 250px;
    right: 5px; */
}

.links {
    position: absolute;
    top: 270px;
    left: 115px;
}

.AppleMusic {
    width: 25px;
    height: auto;
    border: none;
    outline: none;
}

.Spotify {
    width: 25px;
    height: auto;
    border: none;
    outline: none;
}

.tracklist-section {
    width: 100%;
    /* Full width of the container */
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.tracklist-dropdown {
    padding: 5px 10px;
    font-size: 18px;
    color: var(--color4);
    background-color: var(--color2);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 10px;

    font-family: "Funnel Display", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;



}

.tracklist {
    margin: 10px 0 0 20px;
    padding-left: 20px;
    list-style-type: none;
    color: white;
    display: block;
    /* Hidden by default */
    transition: all 0.3s ease;
    font-size: 20px;
    width: 75%;
}

.tracklist-wrapper {
    /* margin: 10px 0 0 20px; */
    /* padding-left: 20px; */
    list-style-type: none;
    color: white;
    display: none;
    /* Hidden by default */
    transition: all 0.3s ease;
    flex-direction: row;
    width: 100%;
    pointer-events: none;
}

.ranks {
    margin: 10px 0 0 20px;
    position: absolute;
    top: 350px;
    left: 50%;
    /* padding-left: 75%; */
    list-style-type: none;
    color: white;
    display: block;
    /* Hidden by default */
    transition: all 0.3s ease;
    font-size: 20px;
    pointer-events: none;

}

.rank-items {
    margin: 10px 0 0 20px;
    position: relative;
    padding-left: 0%;
    list-style-type: none;
    color: white;
    display: block;
    /* Hidden by default */
    transition: all 0.3s ease;

}

.tracklist-ranks {
    margin: 10px 0 0 20px;
    padding-left: 20px;
    list-style-type: none;
    color: white;
    display: none;
    /* Hidden by default */
    transition: all 0.3s ease;
}

.tracklist.hidden {
    display: none;
    /* Ensure hidden class hides the tracklist */
}

.tracklist.visible {
    display: block;
}

.ranks.hidden {
    display: none;
}

.ranks.visible {
    display: block;
}

.tracklist-wrapper.hidden {
    display: none;
}

.tracklist-wrapper.visible {
    display: flex;
}

#button {
    display: none;
}

.perfect {
    color: aqua;
}

.amazing {
    color: rgb(0, 189, 0);
}

.good {
    color: yellow;
}

.okay {
    color: orange;
}

.bad {
    color: red;
}

.interlude {
    color: grey;
}

.best {
    color: violet;
}
